<title>History</title>

<link rel="stylesheet" href="assets/css/index.css">
<script src="scripts/js/index.js"></script>
<script src="https://jsuites.net/v4/jsuites.js"></script>

</head>

<body>
    <div class="container bg-light" style="min-height: 100vh;">

        <div class="row mb-5">
            <div class="col">
                <h1 class="display-4">Expenses</h1>
            </div>
        </div>
        
        <div class="col-md-11 cdiv">
            <div class="row mb-2">

                <div class="col-md-5">
                  <input type="text" class="form-control" placeholder="Description" id="description" />
                </div>

                <div class="col-md-3">
                  <input data-mask='[-]U$ #.##0,00' type="text" class="form-control" placeholder="Value" id="value"/>
                </div>

                <div class="col-md-2">
                    <select type="text" class="form-control" id="listtables">
                        <option value="6">6</option>
                    </select>
                </div>

                <div class="col-md-2 d-flex justify-content-end">
                  <button type="button" class="btn btn-primary" onclick="addExpense()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                
            </div>
          
            <div class="row">
                <div class="col">

                    <table class="table" >
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Value</th>
                                <th>Date</th>
                            </tr>
                        </thead>
          
                        <tbody id="list">
                        </tbody>
                      
                    </table>
                </div>
            </div>

        </div>
    </div>

    
        <a href="scripts/php/login/logout.php">
            <div id="logout">
            <i class="fas fa-sign-out-alt"></i>
        </div>
        </a>
    